[submodule "BrassNecessity/Assets/Asset Packs"]
	path = "BrassNecessity/Assets/Asset Packs"
	url = https://github.com/zkturman/BrassNecessity_Assets.git
	branch = main
	update = merge
[submodule]
	recurse = true
